{% assign geo_modified = page.updated | default: page.date %}
{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ geo_modified | date_to_xmlschema | jsonify }},
  "inLanguage": "zh-CN",
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.author.url | jsonify }},
    "email": {{ site.author.email | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": {{ site.url | append: site.baseurl | append: '/' | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page.url | absolute_url | jsonify }}
  }
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ site.url | append: site.baseurl | append: '/' | jsonify }},
  "inLanguage": "zh-CN",
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.author.url | jsonify }}
  }
}
</script>
{% endif %}
